Source: aplikasi-ulo
Section: unknown
Priority: optional
Maintainer: David Adi Nugroho <davidadi216@gmail.com>
Build-Depends: ignsdk-debian | ignsdk, debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/aplikasi-ulo.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/aplikasi-ulo.git;a=summary

Package: aplikasi-ulo
Architecture: all
Depends: ignsdk-debian | ignsdk, ${shlibs:Depends}, ${misc:Depends}
Description: Another IGN SDK Application
 This is an IGN SDK Application
