Package: mauapa
Version: 1.1
Architecture: all
Maintainer: David Adi Nugroho <davidadi216@gmail.com>
Installed-Size: 362
Depends: ignsdk-debian | ignsdk
Section: unknown
Priority: optional
Description: Another IGN SDK Application
 This is an IGN SDK Application
